.App {
  text-align: center;
}

.current-location-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  display: flex;
  height: 50px;
}

.current-location-form input {
  padding-left: 10px;
  border: none;
  outline: none;
}

.street-input, .city-input, .state-input {
  height: 50px;
  font-size: 1.7rem;
}

.street-input {
  width: 300px;
}

.city-input {
  width: 200px;
}

.state-input {
  width: 100px;
}

.current-location-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
